@charset 'UTF-8';

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #fff;
	  shape-rendering: crispEdges;
	}

	.x.axis path {
	  display: none;
	}

	.line {
	  fill: none;
	  stroke: steelblue;
	  stroke-width: 2px;
	}