body {background-color: #666666;}

a {color: #1188bb;}

/* Top Navigation */

.navbar {
  margin-top: 8px;
  margin-bottom: 0px;
  overflow: visible;
  color: #777777;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
  background-image: none;
  border: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .nav > li > a {
    color: #1188bb;
    padding: 7px 10px;
    text-transform: uppercase;
    font-size: .8em;
}

.navbar .nav > li > a:hover {
  color: #999999;
  background-color: #e9e9e5;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.nav-pills > li > a {
    border-radius: 4px 4px 4px 4px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
  background-color: #e9e9e5;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.navbar ul#rw-nav-global-sites li {margin-right: 20px;}
.navbar ul#rw-nav-global-utilities li {margin-left: 5px;}

.navbar a#rw-nav-rwhome {
  background-image: url("../img/rw-nav-rw-home.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
}

.navbar a#rw-nav-rwlabs {background-image: url("../img/rw-nav-labs.png"); background-repeat:no-repeat;background-position:left center; padding-left: 27px;}
.navbar a#rw-nav-rwblog {background-image: url("../img/rw-nav-blog.png"); background-repeat:no-repeat;background-position:left center; padding-left: 29px;}

#rw-nav-global-parent {min-width: 960px; background-color: #f4f4f0;}


/* Top half below the global nav band */

.hero-unit {
  padding: 50px 0 10px 0;
  margin-bottom: 0px;
  background-color: transparent;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

#rw-hero-parent {min-width: 960px; background-color: #f4f4f0;}

#rw-hero-logo {width: 375px; margin-bottom: 20px;}

#rw-intro-cell {padding-right: 2em;}

#rw-extended-copy-columns {
  -moz-column-count:3; -moz-column-gap:2em; /* Firefox */
  -webkit-column-count:3; -webkit-column-gap:2em; /* Safari and Chrome */
  column-count:3; column-gap:2em;
  padding: 20px 0 30px 0;
} 

#rw-extended-copy-text p { font-size: 1em; line-height: 1.5em;}

#rw-extended-copy button { margin-bottom: 20px;}

#rw-signup {margin-top: 55px;}

.well {background-color: #fff; margin-bottom: 0;
    -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
        padding: 19px 25px;}

#rw-signup legend {margin-bottom: 5px; font-family: 'Volkhov', serif; font-weight: 700; color: #666666; font-size: 2em; 
    border-color: none;
    border-image: none;
    border-style: none;
    border-width: 0;}

#rw-signup .help-block {padding-bottom: 10px;}

#rw-extended-copy {margin-bottom: 20px;}

#rw-extended-copy-text hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d4d4d4 -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 0px 0;
}

.btn {border-radius: 0;
  padding: 6px 20px;}

.btn-large {border-radius: 0;
padding: 16px 40px;}

.btn-rw {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .875em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0988bb;
  *background-color: #0da5d2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0988bb), to(#0da5d2));
  background-image: -webkit-linear-gradient(top, #0988bb, #0da5d2);
  background-image: -o-linear-gradient(top, #0988bb, #0da5d2);
  background-image: linear-gradient(to bottom, #0988bb, #0da5d2);
  background-image: -moz-linear-gradient(top, #0988bb, #0da5d2);
  background-repeat: repeat-x;
  border-color: transparent;
  border-width: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-rw:hover,
.btn-rw:active,
.btn-rw.active,
.btn-rw.disabled,
.btn-rw[disabled] {
  color: #ffffff;
  background-color: #0da5d2;
  *background-color: #2a85a0;
}

.btn-rw:active,
.btn-rw.active {
  background-color: #24748c \9;
}


/* Bottom half */


#rw-bottom-half {
  background-image: url("../img/rw-project-list-shadow.png");
  background-position: top;
  background-repeat: repeat-x;
  color: #f4f4f0;}

.rw-project-list-item {padding: 40px 0 40px 0; border-bottom: 1px solid #555555;}

.rw-project-list-item.released {
  background-color: #f4f4f0; color: #7b7b7b;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  margin-top: 20px;
  padding: 20px 0 0;
}

.rw-project-list-item a {color: #cda7ff;}

.rw-status {padding: 3px 10px; background-color: #7b7b7b; color: #f4f4f0; width: 33%;}

.rw-img-cell {padding-top: 17px;}

.rw-description-cell {padding-left: 1em;}

.rw-description-cell h2 {font-family: 'Volkhov', serif; font-weight: 700; font-size: 2.75em;}

.rw-copyright {margin: 20px 0 60px 0; color: #babab3;}

